<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GoRogue" version="2.6.4" targetFramework="net48" />
  <package id="MonoGame.Framework.DesktopGL" version="3.8.0.1641" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net48" />
  <package id="OptimizedPriorityQueue" version="4.2.0" targetFramework="net48" />
  <package id="SadConsole" version="8.99.3" targetFramework="net48" />
  <package id="Troschuetz.Random" version="4.4.0" targetFramework="net48" />
</packages>